<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.toupiao"
    >

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- Required  一些系统要求的权限，如访问网络等 -->
    <!--允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:name="com.example.toupiao.base.App"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="CryptoVote"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.MyApplication"

        tools:targetApi="31">
        <activity
            android:name="com.example.toupiao.activity.SplashActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity
            android:name="com.example.toupiao.activity.MainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.toupiao.activity.CommonWebActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.toupiao.activity.LoginActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.toupiao.activity.RegisterActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.toupiao.activity.MySubmitActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.toupiao.activity.IntroActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.toupiao.activity.ResultActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.toupiao.activity.RoomContentActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.toupiao.activity.AboutActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.toupiao.activity.SettingActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.toupiao.activity.ZiXunContentActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.toupiao.activity.ChangePswActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.toupiao.activity.FeedBackActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.toupiao.activity.ChangeBackImgActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.toupiao.activity.EditInfoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.toupiao.activity.ChangeNameActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>